body {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.userGit{
    overflow: hidden;
    background-size: cover;
    margin: 10px;
    max-width: 200px;
    max-height: 200px;
}

.popup{
    display:none;
}

.container{
    margin: 10% auto;
}

.userCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}